@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Roboto:wght@400;700&display=swap');
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  background: linear-gradient(90deg, #f4d386 60%, #b34eccad 80%);
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
}
img {
  height: auto;
  display: block;
  max-width: 100%;
}
.container{
    margin-top: 75px !important;
    margin: auto;
    width: 1300px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.leftpartial{
    width: 400px;
    height: 800px;
    background-color: #f4d386;
    border-radius: 10px 0px 0px 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    box-shadow: 1px 1px 5px #e4b955;

}
.rightpartial{
    width: 900px;
    height: 800px;
    background-color: #fff;
    border-radius: 0px 10px 10px 0px;
}
.mainleft{
    margin-left: 60px;
    margin-bottom: 100px;
}
.mainleft img{
    width: 20%;
    margin-bottom: 25px;
}
.mainleft p{
    font-size: 29px;
    width: 270px;
    font-weight: bold;
    color: #8b7136;
}
.submainleft img{
    width: 200% !important;
}
.footerleft{
    margin-left: 60px;
    margin-bottom: 50px;
}
.footerleft p{
    font-size: 13px;
    width: 235px;
    font-weight: bold;
    color: #8b7136;
}
.footerleft a{
    color: #8b7136;
    text-decoration: underline #8b7136;
}
.headright{
    text-align: right;
    padding: 50px;
}
.headright p{
    font-size: 14px;
    font-weight: bold;
    color: #8b7136;
}
.headright a{
    color: #57a4d8;
}
.mainright{
    margin-top: 50px !important;
    width: 450px;
    height: 500px;
    margin: auto;
}
.mainright h1{
    font-size: 21px;
    font-weight: bold;
}
.socialpartial{
    margin-top: 25px;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
}
.leftsocial{
    background-color: #4385f5;
    border-radius: 5px;
    width: 350px;
    height: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    margin-left: -14px;
    transition: 1s;
}
.leftsocial:hover{
    background-color: #296fe7; 
}
.leftsocial i{
   font-size: 22px;
   color: #fff;
   margin-left: -10px;
}
.leftsocial p{
    margin-top: 3px;
    font-size: 17px;
    color: #fff;
    margin-right: 30px;
}
.middlesocial{
    background-color: #f2f2f2;
    width: 40px;
    height: 40px;
    border-radius: 5px;
}
.rightsocial{
    background-color: #f2f2f2;
    width: 40px;
    height: 40px;
    border-radius: 5px;
}
.middlesocial i, .rightsocial i{
    margin-top: 10px;
    margin-left: 12px;
    font-size: 17px;
    color: rgb(102, 97, 97);
}
.linepartial{
    margin-top: 20px;
    width: 100%;
    height: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}
.leftline hr, .rightline hr{
width: 200px;
height: 0.1px;
border: 0;
border-top:1px solid rgb(102, 97, 97);
padding: 0;
}
.middleline p{
    color: rgb(102, 97, 97);
    font-weight: bold;
}
.form{
    margin-top: 20px;
    width: 100%;
    height: 300px;
}
.formaction{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    margin-bottom: 25px;
}
.head p{
    color: rgb(77, 73, 73);
    margin-bottom: 5px;
    font-weight: bold;
}
.head input{
    border-radius: 7px;
    background-color: rgb(236, 236, 236);
    border: 0;
    height: 12px;
    padding: 10px;
    width: 185px;
    margin-bottom: 25px;
}
.kvkk{
    margin-top: -25px;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
}
.check{
    width: 20px;
}
.checkpolitcy{
    height: 15px;
    width: 15px;
}
.kvkktext{
    margin-left: 10px;
    width: 350px;
}
.kvkktext p{
    font-size: 13px;
    font-weight: 400;
    line-height: 1.3;
    color: rgb(143, 140, 140);
}
.kvkktext a{
    color: #0f4bb3;
}
.policytext{
    margin-top: 80px;
    width: 300px;
}
.policytext p{
    font-size: 12px;
    font-weight: 400;
    line-height: 1.3;
    color: rgb(143, 140, 140);
}
.policytext a{
    color: #0f4bb3;
}
.createbutton{
    margin-top: 25px;
    background-color: #e94d87;
    color: white;
    border-radius: 5px;
    width: 260px;
    height: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    transition: 1s;
    border:0;
    cursor: pointer;
}
.createbutton p{
    font-size: 15px;
    color: white;
}
.createbutton:hover{
    background-color: #a32654;
    color: rgb(255, 255, 255);
}